#nav {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 250%;
}
#nav a {
    padding: 0 10px;
    text-decoration: none;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.flexbox a {
    height: 1rem;
    padding: 20px;
    margin: 5px;
    background: #ccc;
    display: block;
}
.flexbox a:hover {
    background: #aaa;
}
.text-center {
    text-align: center;
}
.center {
    margin: 0 auto;
}
